/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --navbar-height: 64px; /* Adjust this to match your navbar's height */
}

html {
    scroll-padding-top: var(--navbar-height);
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}
